* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.findPoke {
width: 100%;
height: 30px;
}

body {
display: flex;
font-family: sans-serif;
justify-content: center;
}

.pokedex {
align-items: flex-end;
display: flex;
height: 500px;
margin: 50px;
width: 800px;
}

.left-container,
.right-container {
border: 3px solid black;
width: 50%;
}

.right-container {
border-left: none;
}

.left-container {
background: #E71D23;
height: 100%;
width: calc(50% + 50px);
}

.left-container__top-section {
border-bottom: 3px solid black;
display: flex;
height: 50px;
padding: 8px;
}

.top-section__blue {
background: radial-gradient(farthest-corner at 10px 10px, white, #369CD4, #369CD4);
border-radius: 50%;
border: 2px solid white;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
height: 30px;
width: 30px;
}

.top-section__small-buttons {
display: flex;
margin: 0 25px;
}

.top-section__red,
.top-section__yellow,
.top-section__green {
border-radius: 50%;
border: 1px solid black;
height: 10px;
margin-right: 5px;
width: 10px;
}

.left-container__main-section-container {
display: flex;
height: calc(100% - 50px);
}

.left-container__main-section {
height: 100%;
padding: 25px;
width: 500px;
}

.main-section__white {
background: #DEDEDE;
border: 3px solid black;
box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
height: 325px;
}

.main-section__black {
background: black;
height: calc(100% - 50px);
margin: 25px;
padding: 10px;
width: calc(100% - 50px);
}

.main-screen {
border-radius: 15px;
height: 100%;
padding: 15px;
}

.screen__header {
align-items: center;
display: flex;
justify-content: space-between;
}

.poke-name {
color: white;
font-size: 25px;
font-weight: bold;
}

.poke-id {
color: rgba(0, 0, 0, 0.5);
font-size: 20px;
}

.screen__image {
display: flex;
justify-content: space-around;
}

.poke-front-image,
.poke-back-image {
height: 96px;
width: 96px;
}

.screen__description {
display: flex;
height: 100px;
justify-content: space-around;
}

.screen__stats {
background: rgba(0, 0, 0, 0.3);
border-radius: 5px;
color: white;
display: flex;
flex-direction: column;
height: 100%;
justify-content: space-between;
padding: 20px 15px;
}

.stats__types {
height: 100%;
padding: 5px;
}

.poke-type-one,
.poke-type-two {
background: rgba(255, 255, 255, 0.3);
border-radius: 25px;
display: block;
margin-bottom: 10px;
padding: 10px;
text-align: center;
}

.left-container__controllers {
align-items: center;
display: flex;
justify-content: space-around;
margin: 10px 25px 0;
}

.controllers__d-pad {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
}

.d-pad__cell {
background: black;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
height: 25px;
width: 25px;
}

.d-pad__cell.top {
border-left: 1px solid dimgrey;
border-radius: 5px 5px 0 0;
border-right: 1px solid dimgrey;
border-top: 1px solid dimgrey;
grid-column: 2/span 1;
grid-row: 1/span 1;
}

.d-pad__cell.left {
border-bottom: 1px solid dimgrey;
border-left: 1px solid dimgrey;
border-radius: 5px 0 0 5px;
border-top: 1px solid dimgrey;
grid-column: 1/span 1;
grid-row: 2/span 1;
border-right: none;
cursor: pointer;
}

.d-pad__cell.middle {
grid-column: 2/span 1;
grid-row: 2/span 1;
}

.d-pad__cell.right {
border-bottom: 1px solid dimgrey;
border-radius: 0 5px 5px 0;
border-right: 1px solid dimgrey;
border-top: 1px solid dimgrey;
grid-column: 3/span 1;
grid-row: 2/span 1;
border-left: none;
cursor: pointer;
}

.d-pad__cell.right:hover,
.d-pad__cell.left:hover {
background: rgba(0, 0, 0, 0.4);
}

.d-pad__cell.right:active,
.d-pad__cell.left:active {
box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.d-pad__cell.bottom {
border-bottom: 1px solid dimgrey;
border-left: 1px solid dimgrey;
border-radius: 0 0 5px 5px;
border-right: 1px solid dimgrey;
grid-column: 2/span 1;
grid-row: 3/span 1;
cursor: pointer;
}

.controllers__buttons {
display: flex;
justify-content: space-around;
width: 100px;
}

.buttons__button {
align-items: center;
background: black;
border-radius: 50%;
border: 1px solid dimgrey;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
color: rgba(255, 255, 255, 0.75);
display: flex;
height: 35px;
justify-content: center;
width: 35px;
}

.buttons__button:hover {
background: rgba(0, 0, 0, 0.4);
}

.buttons__button:active {
box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.buttons__button:first-child {
margin-top: 5px;
}

.buttons__button:last-child {
margin-top: -5px;
}

.left-container__right {
border-left: 3px solid black;
display: flex;
flex-direction: column;
height: 100%;
justify-content: space-between;
width: 50px;
}

.left-container__hinge {
background: linear-gradient(to right, #7F100F, #E71D23, #E71D23, #7F100F);
height: 75px;
width: 100%;
}

.left-container__hinge:first-child {
border-bottom: 3px solid black;
}

.left-container__hinge:last-child {
border-top: 3px solid black;
}

.top-section__red {
background: #7F100F;
}

.top-section__yellow {
background: #EDF18E;
}

.top-section__green {
background: #33915A;
}

.right-container {
background: #E71D23;
height: calc(100% - 50px);
padding: 25px;
width: calc(50% - 50px);
}

.right-container__black {
background: black;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
height: 300px;
padding: 10px;
margin-bottom: 10px;
}

.right-container__screen {
background: #43B0F2;
border-radius: 15px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 100%;
padding: 10px 10px 0;
margin-top: -1px;
margin-bottom: 5px;
}

.list-move {
background: rgba(255, 255, 255, 0.3);
border-radius: 25px;
display: block;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 5px;
padding: 10px;
text-align: center;
}

.list-move .list-item {
align-items: center;
color: white;
cursor: pointer;
display: flex;
font-size: 12px;
height: 25px;
overflow-x: hidden;
padding-left: 5px;
width: 50%;
}

.list-item {
align-items: center;
margin-left: 10px;
color: white;
cursor: pointer;
display: flex;
font-size: 12px;
height: 25px;
overflow-x: hidden;
padding-left: 5px;
width: 50%;
}

.list-item:hover {
background: #85cbf2;
color: black;
}

.list-item:active {
background: #1280f2;
color: white;
}

.right-container__buttons {
display: flex;
justify-content: space-around;
margin-top: 25px;
}

.left-button,
.right-button {
align-items: center;
background: #DEDEDE;
border-radius: 3px;
border: 2px solid black;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
cursor: pointer;
display: flex;
font-weight: bold;
height: 30px;
justify-content: center;
text-transform: uppercase;
width: 100px;
}

.left-button:hover,
.right-button:hover {
background: white;
}

.left-button:active,
.right-button:active {
box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.hide {
display: none;
}

@media only screen and (min-width: 1200px) {
    body {
      background-color: rgb(39, 43, 235);
    }
}
@media only screen and (max-width: 1199px) {
    body {
      background-color: red;
    }
}

@media only screen and (max-width: 624px) {
  body {
    background-color: lightskyblue;
    overflow: auto;
  }
  .pokedex
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 85%;
    margin-top: -0.5%;
    margin-right: auto;
  }
  .right-container
  {
    display: none;
  }

  .footer
  {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-container__hinge
  {
    display: none;
  }

  .header.pokedex
  {
    display: none;
  }

}

/* HOME PAGE */

.nameHome, ol li {
  margin-top: 70px;
  color:rgb(252, 252, 109);
  text-shadow: 0 0 10px  rgb(163, 163, 41), 0 0 10px rgb(163, 163, 41);
  font-size: x-large;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
}

.nameHome, ol li:hover {
  transform: scale(1.2);
}

.imageHome {
  margin-left: 100px;
}

.header, .footer {
  font-size: x-large;
  color:red;
  text-shadow: 10px 10px 10px  rgb(2, 4, 109), 10px 10px 10px rgb(2, 4, 109);
  font-family: 'Press Start 2P', cursive;
}

.card {
  text-align: center;
  margin-top: 50px;
  padding: 40px;
  color:blue;
  background-color:  pink;
  border-radius: 10%;
  border: none;
  box-shadow: 10px 10px 10px rgb(252, 73, 103);
  font-family: 'Press Start 2P', cursive;
}

.card-header{
  color:yellow;
  background-color:  rgb(2, 4, 109);
  font-weight: bold;
  border: none;
  border-radius: 50%;
}

.card-text,.card-text2 {
  font-size: x-large;
  font-weight: bold;
  color: rgb(63, 63, 206);
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr {
  display:inline-table;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
}

img {
  padding: 10px;
}
.img-fluid {
  max-width: 15.6rem;
  width:100%;
  max-height: 15.6rem;
  height:100%;
}

.home {
  justify-content: center;
  text-align: center;
}

.btn-outline-light {
  font-weight: bold;
  color:rgb(0, 105, 112);
  background-color:  rgb(79, 243, 255);
  border: none;
  margin: 2px;
  font-family: 'Press Start 2P', cursive;
  
}

.btn-outline-light:hover {
  transform: scale(1.1);
  background-color:  pink;
  color: rgb(156, 1, 27);
}